<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>

<h1>BootStrap UI 部分</h1>
<div class="span12" style="padding: 10px;">
  更多使用说明参见：
  <a href="http://twitter.github.com/bootstrap/base-css.html" target="_blank">基本样式</a>
  <a href="http://twitter.github.com/bootstrap/scaffolding.html" target="_blank">布局</a>
  <a href="http://twitter.github.com/bootstrap/components.html" target="_blank">控件</a>
  <a href="http://twitter.github.com/bootstrap/javascript.html" target="_blank">JS</a>
</div>
<div style="clear: both;">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>

      <div class="controls">
        <input type="text" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>

      <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox"> Remember me
        </label>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
<p>
  <button class="btn btn-large btn-primary" type="button">Large button</button>
  <button class="btn btn-large" type="button">Large button</button>
</p>
<p>
  <button class="btn btn-primary" type="button">Default button</button>
  <button class="btn" type="button">Default button</button>
</p>
<p>
  <button class="btn btn-small btn-primary" type="button">Small button</button>
  <button class="btn btn-small" type="button">Small button</button>
</p>
<p>
  <button class="btn btn-mini btn-primary" type="button">Mini button</button>
  <button class="btn btn-mini" type="button">Mini button</button>
</p>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Home</a>
  </li>
  <li><a href="#">...</a></li>
  <li><a href="#">...</a></li>
</ul>

<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>


